nav {
  position: fixed;
  height: 2rem;
  background: $navy;
  width: 100%;
  ul {
    list-style-type: none;
    padding-left: 0.5rem;
  }
  li {
    display: inline-block;
    line-height: 2rem;
    padding-right: 0.5rem;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  a:hover {
    text-decoration: underline;
  }
}
