.data-charts {
  width: 100%;
  margin-bottom: $gutter;
  padding-bottom: $gutter;
}
canvas {
  width: 100%;
  height: 100%;
}
select {
  max-width: 100%;
}
.loading-hamster {
  position:relative;
  h3 {
    position:absolute;
    top: $gutter;
    left: 0;
  }
  img {
    max-width: 100%;
  }
}
